.post-wrapper {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    
}
h1 {
    font-size: 4rem;
    color: #f1f1f1;
    padding: 30px;
}

h2 {
    font-size: 3rem;
    color: #7ac043;
    padding: 20px 0;
}
.description {
    color: #f1f1f1;
    font-size: 2rem;
    margin: 40px;
}
.post-wleft {
    width: 1000px;
}

.post-wleft img{
    width: 50vw;

}
.post-wright {
    width: 500px;
    margin-left: 50px;
    background-color: #a7c09318;
   
}
.post-wsright {
    display: flex;
    margin: 100px 0px 50px 50px;
    /* background-color: #f1f1f1; */

}
.post-wsright img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

form {
    display: flex;
    padding: 20px;
}
form div label {
    font-size: 1.9rem;
    margin-right: 20px;
}
form div label input[type="text"] {
    width: 240px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #171717;
    margin-left: 5px;
}
.form-button {
    background-color: #7ac043;
    font-size: 1.4rem;
    color: #f1f1f1;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    border: 1px solid #4f7c2c;
}

#modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 600px;
    top: 200px;
    width: 100%; 
    height: 100%; 
    overflow: auto; 

}

#modal div{
    width: 200px;
    background-color: #f1f1f1;
    padding: 30px 30px 10px 30px;
    color: black;
}

.comment-wrapper{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#comment-info {
    border-top: 1px solid #171717;
    padding: 0px 20px 0px 20px;
}
#comment-info p{
    margin: 20px 0px 20px 0px;
    font-size: 1.9rem;
    
    
}

.comment-username {
    color: #7ac043;
    font-size: 2.5rem;
}

.comment-button-wrapper {
    margin: 20px;
}

.comment-button-wrapper button {
    font-size: 1.4rem;
    color: #f1f1f1;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
}

#editButton {
    background-color: gray;
    border: 1px solid rgb(53, 50, 50);
    margin-right: 20px;
    
}

#deleteComment {
    background-color: rgba(255, 0, 0, 0.384);
    border: 1px solid rgb(65, 10, 10);
}
